* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    120deg,
    #fff,
    rgb(169, 169, 207),
    rgba(175, 175, 175, 0.945)
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-con {
  background-color: #fff;
  width: 700px;
  max-width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.quiz-header h2 {
  padding: 1rem 2rem;
}

ul {
  list-style: none;
  margin: 1rem 0;
}

ul li {
  margin: 1rem 0;
  font-size: 1.1rem;
}

button {
  background-color: rgb(169, 169, 207);
  display: block;
  width: 100%;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: rgb(120, 120, 148);
}
