* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffce00;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.lists {
  display: flex;
  flex: 1;
  overflow-x: scroll;
  width: 100%;
}
.lists .list {
  display: flex;
  flex-flow: column;
  flex: 1;

  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
  min-height: 150px;

  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  padding: 8px;
  transition: all 0.2s linear;
}

.lists .list .list-item {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  margin: 4px 0px;
}
