* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

.notes {
  background-color: #fff;
  height: 400px;
  width: 400px;
  margin: 20px;
}
.notes .tools {
  background-color: lightgreen;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.notes .tools button {
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
.notes .main {
  display: none;
  height: 100%;
  width: 100%;
}
.notes textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
}
